
.divider
  width: 100%
  height: 20px
  border-bottom: 1px solid #d0d0d0
  text-align: center
  span
    background-color: #fff
    color: #3b3b3b
    vertical-align: baseline
    padding: 0 10px
    display: inline-block
    font-style: italic
    font-weight: bold
.json
  white-space: pre-wrap
  display: block
.no-bg-btn
  background-color: transparent !important
.list-no-bullets
  list-style: none

#create-subscription
  counter-reset: steps
  .step__number
    display: inline-block
    width: 2em
    height: 2em
    border: 2px solid var(--v-primary-base)
    border-radius: 50%
    line-height: 2em
    text-align: center
    font-weight: 500
    margin-right: 0.5em

  .step__number:before
    content: counter(steps)
    counter-increment: steps
  .checkout-price
    color: var(--v-primary-base)
  .active-card
    border: 1px solid var(--v-primary-base)
    opacity: 100% !important
  .price-card, .card
    opacity: 80%

#plan-card
  .card
    padding: $spacing3
    opacity: 60%
    background: #fff

  .price
    &-card
      text-align: center
      min-height: 6em
      .interval
        +palette-text-secondary

  .active-card
    border: 1px solid var(--v-primary-base)
    opacity: 100% !important
