
# Production HMAC Key - Generate a new random key for production
# You can generate one with: openssl rand -hex 32
hmacKey = REPLACE_WITH_YOUR_PRODUCTION_HMAC_KEY

[social]
# Social authentication credentials
# https://github.com/settings/developers
githubClientID = REPLACE_WITH_GITHUB_CLIENT_ID
githubClientSecret = REPLACE_WITH_GITHUB_CLIENT_SECRET

# https://developers.facebook.com/apps/
facebookClientID = REPLACE_WITH_FACEBOOK_CLIENT_ID
facebookClientSecret = REPLACE_WITH_FACEBOOK_CLIENT_SECRET

# https://developers.google.com/identity/sign-in/web/sign-in
googleClientID = REPLACE_WITH_GOOGLE_CLIENT_ID
googleClientSecret = REPLACE_WITH_GOOGLE_CLIENT_SECRET

# https://www.linkedin.com/developers/apps/
linkedinClientID = REPLACE_WITH_LINKEDIN_CLIENT_ID
linkedinClientSecret = REPLACE_WITH_LINKEDIN_CLIENT_SECRET


[smtp]
# Mailgun SMTP credentials for production email
# https://www.mailgun.com/
smtpUser = REPLACE_WITH_MAILGUN_SMTP_USER
smtpPassword = REPLACE_WITH_MAILGUN_SMTP_PASSWORD


[sms]
# Twilio credentials for SMS verification (optional)
# https://www.twilio.com/
accountSID = REPLACE_WITH_TWILIO_ACCOUNT_SID
authToken = REPLACE_WITH_TWILIO_AUTH_TOKEN
ownNumber = REPLACE_WITH_TWILIO_PHONE_NUMBER
