
[social]
# https://github.com/settings/developers
githubClientID =
githubClientSecret =
# https://developers.facebook.com/apps/
facebookClientID =
facebookClientSecret =
# https://developers.google.com/identity/sign-in/web/sign-in
googleClientID =
googleClientSecret =
# https://www.linkedin.com/developers/apps/
linkedinClientID =
linkedinClientSecret =


[sms]
# https://www.twilio.com/
accountSID =
authToken =
ownNumber =

